html,
body {
  height: 100%;
  margin: 0;
}

/* Kontejner, který bude obsahovat stírací vrstvu */
#container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('https://i.ibb.co/r22cqVw/family-house-winter3.png') no-repeat center/cover;
}

/* Nastavení canvas */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none; /* Zabraňuje nežádoucímu scrollování */
}

/* Nastavení nápisu */
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #D5713F; /* Oranžová dřevitá */
  font-family: Arial, sans-serif;
  pointer-events: none; /* Ignorování interakcí */
}

.main-text {
  font-size: 3em;
  font-weight: bold;
}

.signature {
  font-size: 1.5em;
  margin-top: 10px;
}

.cta {
  font-size: 1.2em;
  margin-top: 20px;
  animation: pulse 1.5s infinite;
}

/* Pulzující efekt */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
