html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Zabraňuje posouvání na menších obrazovkách */
}

/* Kontejner */
#container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('https://i.ibb.co/r7Yd8ZG/PF-mal-2025.jpg') no-repeat center;
  background-size: contain; /* Zachová celý obrázek */
  background-color: #f0f0f0; /* Volitelně přidáme barvu pro prázdné místo */
}

/* Canvas */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* Overlay */
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF; /* Bílá */
  font-family: Arial, sans-serif;
  pointer-events: none;
}

.main-text {
  font-size: 4em; /* Zvýšená velikost */
  font-weight: bold;
}

.signature {
  font-size: 2em; /* Zvýšená velikost */
  font-weight: bold; /* Zvýraznění tučně */
  margin-top: 15px;
}

/* CTA */
.cta {
  font-size: 1.5em; /* Zvýšená velikost */
  font-weight: bold; /* Tučné písmo */
  margin-top: 40px; /* Zvýšený odsaz */
  animation: pulse 1.5s infinite;
}

.arrow {
  display: block;
  font-size: 5em; /* Zvýšená velikost ikony */
  margin: 50px auto 0;
  animation: pulse 1.5s infinite; /* Pulzující efekt */
  color: #FFFFFF; /* Bílá barva */
}

/* Pulzující efekt */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

/* Responzivní styl pro malé obrazovky */
@media (max-width: 768px) {
  .main-text {
    font-size: 3em;
  }

  .signature {
    font-size: 1.5em;
  }

  .cta {
    font-size: 1.2em;
  }

  .arrow {
    font-size: 1.8em;
  }
}
